body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: rgba(0,0,0,0.1);
	margin: 30px;
}
h1,h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea {
	padding: 0px;
	margin: 0px;
}
a {
	color: #025c7b;
	text-decoration: underline;
}
a:hover {
	color: #035c7a;
	text-decoration: none;
}
.main {
	width: 840px;
	margin: 0px auto;
}
.page {
	background-color: #FFFFFF;
	width: 800px;
	float: left;
	padding: 20px;
}
.header {
	width: 800px;
	float: left;
}
.header-img {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 800px;
	height: 249px;
}
.header-img h1 {
	font-family: "Times New Roman";
	font-size: 70px;
	font-weight: normal;
	float: left;
	line-height: 100%;
	color: #27f807;
	margin-top: 40px;
	margin-left: 30px;
	margin-right: 30px;
	opacity: 0;
}
.header-img p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	float: left;
	color: #009aff;
	margin-top: 0px;
	margin-left: 30px;
	opacity: 0;
}
.menu {
	 height: 40px;
    background: -webkit-linear-gradient(#0066cc, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0066cc, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0066cc, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0066cc, white); /* Standard syntax (must be last) */
	background-color: #0066cc;
	width: 800px;
	float: left;
}
.menu ul {
	list-style-type: none;
}
.menu ul li {
	display: inline;
}
.menu ul li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 40px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 22px;
	padding-left: 22px;
}
.menu ul li a:hover {
	color: #ededed;
}
.content {
	width: 800px;
	float: left;
	padding-top: 12px;
}
.left-panel {
	height: 90px;
    background: -webkit-linear-gradient(white, rgba(39,248,7,0.51)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, rgba(39,248,7,0.51)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, rgba(39,248,7,0.51)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, rgba(39,248,7,0.51)); /* Standard syntax (must be last) */
	width: 480px;
	float: left;
	padding: 20px 10px 0px 10px;
	margin: 0px 0px 200px 0px;
	box-shadow: 5px 5px 5px #888888;
}
.left-panel-in {
	text-align: justify;
	clear: both;
}
.title {
	font: Helvatica CY;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	color: #0066cc;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}
.right-panel {
	width: 250px;
	float: right;
}
.right-panel-in {
	clear: both;
}
.right-panel-in h3 {
	font-size: 20px;
	font-weight: normal;
	color: #346397;
	margin-top: 25px;
	margin-bottom: 17px;
	margin-left: 3px;
}
.right-panel-in ul {
	list-style-type: none;
}
.right-panel-in ul li {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.right-panel-in ul li a {
	color: #003366;
	text-decoration: none;
}
.right-panel-in ul li a:hover {
	text-decoration: underline;
}
.footer {
	background-color: rgba(0,102,204,0.58);
	width: 800px;
	height: 55px;
	float: left;
}
.footer p {
	color: #000000;
	margin-top: 10px;
	text-align:center;
}

.footer a {
	color: #FFFFFF;
}
